@charset "UTF-8";
/* CSS Document */

#idBoard{
	overflow:hidden; 
	padding:0px;
	border:2px solid;
	border-radius:25px;
}

#mainTable{
	display:none;
	cursor: default;
	-webkit-user-select: none;
}

.kanboard{
	border-collapse:collapse;
	background-color:#FFF7F7;
	position:relative;
}

.kanboard th{
	vertical-align:text-top;
	border-right:2px solid;
	padding:0;
}

#laneName{
	background-color:#5A5A5A;
	color:white;
    padding: 10 0px;
    font-size:25;
    text-transform:uppercase;
    cursor:default;
    font-family:"arial";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.line{
	border-top:2px solid;
}

.addTask{
    padding:2px;
	border-bottom:2px solid;
	border-left:2px solid;
    position:absolute;
    border-radius: 0  10px;
    background-color: white;
}

.laneClass{
	overflow:auto;
}

.sortableClass{
    overflow:auto; 
    padding-top:27px;
}

.taskClass{
	width:69%;
	margin-bottom:20px;
	border:2px solid;
	padding: 15 20px;
	display:block;
	border-radius:10px;
    text-align:center;
}

.nameTask{
	font-size:20; 
	text-transform:uppercase; 
	cursor:default;
	margin:1 0px;
}

.infoButton{
	margin-top:-1px;
	cursor:pointer;
	display:inline-block;
	float: right;
}

.newTaskClass{
	width:69%;
	margin-bottom:20px;
	border:2px solid black;
	padding: 0 20px;
	display:none;
	border-radius:10px;
    text-align:left;
    background-color:#FFFFFF; 
    font-family:arial;
    font-size:13px;
    color:#999;
}

.newTaskClass input{
	width:100%;
    padding:5px 5px;
    border-radius: 5px;
    border:1px solid #CCC;
}

.inputTextarea{
	width:100%;
    padding:2px 5px;
    border-radius: 5px;
    border:1px solid #CCC;
}

*:focus {
    outline: none;
}

.newTaskClass select{
	width:75%;
	float:right;
	height: 22px;
    border-radius:5px;
    border:1px solid #CCC;
    margin-top:-3px;
}

.inputSubmit{
	margin-bottom: 4px;
	color: white;
}

.inputSubmit:active{
	background-color:white;
	color:#999;
}

.button{
	width: 100%;
	padding: 5px 5px;
	border-radius: 5px;
	border: 1px solid #CCC;
	font-size: 13px;
}

.taskInfo{
	position: relative;
	display:none;
	text-align:left;
	font-family: arial;
	cursor:default;
	font-size:13px;
}

.label{
	margin: 0;
	width: 70px;
	display:inline-block;
}

.taskInfo input{
	position: absolute;
	right: 0;
	margin-top:-4px;
	width:70%;
    padding:5px 5px;
    border-radius: 5px;
    border:1px solid;
}

.taskInfo select{
	width:70%;
	float:right;
	height: 22px;
    border-radius:5px;
    border:1px solid;
    margin-top:-3px;
}

.inputTextareaEdit{
	width: 70%;
	float:right;
    padding:4px 5px;
    border-radius: 5px;
    border:1px solid;
    margin-top:-2px;
}