@charset "UTF-8";
/* CSS Document */

#idBoard{
	max-width:1146px; 
	overflow:hidden; 
	padding:0px;
	border:solid;
	border-radius:25px;
}

#mainTable{
	margin:2% 10%;
}

.kanboard{
	border-collapse:collapse;
	background-color:#FFF7F7;
	position:relative;
}

.kanboard th{
	vertical-align:text-top;
	border-right:solid;
	padding:0;
}

#laneName{
	background-color:#5A5A5A;
	color:white;
    padding: 10 0px;
    font-size:25;
    text-transform:uppercase;
    font-family:"arial"
}

#line{
	border-top:solid;
}

#addTask{
    padding:2px;
    margin-left:353px;
	border-bottom:solid;
	border-left:solid;
    position:absolute;
}

.laneClass{
	overflow:auto;
	width:380px;
}

.sortableClass{
    overflow:auto; 
    padding-top:27px;
}

.taskClass{
	height:auto;
	width:65%;
	margin-bottom:20px;
	border:solid;
	text-align:left;
	padding: 15 20px;
	display:block;
	border-radius:10px;
    text-align:center;
}

.buttonInfo{
	float:right;
    border-radius:10px;
    margin-top:-2;
}

.taskInfo{
    position:relative;
	display:none;
	text-align:left;
}