body, head{
	overflow:auto;
}

#board{
	position:absolute;
	width:80%;
	height:80%;
	overflow-y: hidden;
	margin:0 10%;
	border:solid;
	white-space: nowrap;
	display:block;
}

#kanboard{
	position:relative;
	width:300px;
	padding-bottom:20px;
	float:left;
	border-right:solid;
	
}

#laneName{
	position:relative;
}
#hline{
	position:relative;
	border-top:solid;
}


#lane{
	height:509px;
	overflow:auto;
	
}
#task{
	height:100px;
	width:250px;
	margin-top:20px;
	border:solid;
}
