body, head{
	width:100%;
	
}

#board{
	position:absolute;
	width:80%;
	height:80%;
	overflow:auto;
	margin:0 10%;
	overflow-y: hidden;
	white-space: nowrap;
	
	
}

table.kanboard{
	border-collapse:collapse;
	border-top:solid;
	border-bottom:solid;
	border-left:solid;
	
}

.cellClass {
	vertical-align:text-top;
	border-right:solid;
	padding:0;
	padding-bottom:20px;
}

#laneName{
	position:relative;
}
#line{
	position:relative;
	border-top:solid;
	
}

#lane{
	height:503px;
	overflow:auto;
	width:380px;
}
#task{
	height:100px;
	width:250px;
	margin-top:20px;
	border:solid;
}
